.custom-box{
	animation: fadeInRight 1s ease;
}

@keyframes fadeInRight{
	0%{
		transform: translateX(40px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}


.custom-box.hide{
	display: none;
}


.font1{
	font-family: 'Merriweather';
	font-size: 16px;
	color: black;
}

.bg-color{
	color: #9aaf50;
}

.option-container .option{
	opacity: 0;
	animation: fadeIn 0.3s ease forwards;
	position: relative;
	overflow: hidden;
}

.option-container .option.already-answer{

}

.option-container .option.correct::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: green;
	z-index: -1;
	animation: slideInLeft .5s ease forwards;

}

@keyframes slideInLeft{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
}


.option-container .option.correct{
	color: #ffffff;
}


@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.option-container .option.wrong::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: red;
	z-index: -1;
	animation: slideInLeft .5s ease forwards;
}

.option-container .option.wrong{
	color: #ffffff;
}

.answers-indicator div{
	display: inline-block;
	border-radius: 50%;
	background-color: #cccccc;
	width: 40px;
	height: 40px;
}

.answers-indicator div.correct{
	background-color: green;
	background-image: url("./images/correct.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.answers-indicator div.wrong{
	background-color: red;
	background-image: url("./images/wrong.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

/*Start Contact CSS*/
#contact_style img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 20px; 
    opacity: 0.8;
}
/*Adress*/
#contact_text i{
    position: absolute;
    color: white;
    top: 180px;
    left: 120px;
    font-size: 20;
}

#contact_text h5{
    position: absolute;
    color: white;
    top: 180px;
    left: 170px;
    font-size: 18px;
}
#contact_text p{
    position: absolute;
    color: white;
    top: 210px;
    left: 170px;
    font-size: 18px;
}

/*Phone Discu*/
#contact_text2 i{
    position: absolute;
    color: white;
    top: 350px;
    left: 120px;
    font-size: 20;
}
#contact_text2 h5{
    position: absolute;
    color: white;
    top: 350px;
    left: 170px;
    font-size: 18px;
}
#contact_text2 p{
    position: absolute;
    top: 380px;
    left: 170px;
    font-size: 18px;
}

/*Gmail*/
#contact_text3 i{
    position: absolute;
    color: white;
    top: 500px;
    left: 120px;
    font-size: 20;
}
#contact_text3 h5{
    position: absolute;
    color: white;
    top: 500px;
    left: 170px;
    font-size: 18px;
}
#contact_text3 p{
    position: absolute;
    top: 520px;
    left: 170px;
    font-size: 18px;
}

/*Social*/
#contact_text4 i{
    position: absolute;
    color: white;
    top: 620px;
    left: 120px;
    font-size: 20;
}
#contact_text4 h5{
    position: absolute;
    color: white;
    top: 620px;
    left: 170px;
    font-size: 18px;
}

#social_icon i{
	position: absolute;
	color: white;
    top: 650px;
    left: 170px;
    font-size: 40px;
}

#social_icon1 i{
	position: absolute;
	color: white;
    top: 650px;
    left: 220px;
    font-size: 40px;
}

#social_icon2 i{
	position: absolute;
	color: white;
    top: 650px;
    left: 270px;
    font-size: 40px;
}

#social_icon3 i{
	position: absolute;
	color: white;
    top: 650px;
    left: 320px;
    font-size: 40px;
}

#social_icon4 i{
	position: absolute;
	color: white;
    top: 650px;
    left: 370px;
    font-size: 40px;
}

.contact{
	background: url(images/ct1.jpg);
	background-size: cover;
}

.googlemap{
	width: 80%;
	margin-left: 10%;
}
/*End of Contact CSS*/

/*About Css ttsh*/
.top_button{
	position: fixed;
	left: 1200px;
	top: 500px;
}

.coursel_text{
	position: absolute;
	top: 250px;
	left: 200px;
	font-size: ;
}
#about h1{
	text-align: center;
	margin: 120px 0px
	padding: 0px 150px;
}
#about hr{
	height: 1px;
	border:none;
	color: #000;
	background-color: #000;
	width:50%;
	text-align: center;
	margin: 50px auto;
}
#passion h3{
	text-align: center;
	
}
#passion hr{
	height: 1px;
	border:none;
	color: #000;
	background-color: #000;
	width:50%;
	text-align: center;
	margin: 50px auto;
}

.background_img{
	background-image: url(images/img9.jpg);
	height: 300px;
	background-attachment: fixed;
}
#container hr{
	height: 1px;
	border:none;
	color: blue;
	background-color: #000;
	width:50%;
	text-align: center;
	margin: 50px auto;
}
#story hr{
	height: 1px;
	border:none;
	color: blue;
	background-color: #000;
	width:50%;
	text-align: center;
	margin: 50px auto;
}
#story img{
	border-radius: 60%;
}
/*------------end about css--------------*/