/*start of activity function*/
body, html{
	height: 100%;
}

.body_bg_photo{
	background-image: url(./images/body_background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.custom-box{
	animation: fadeInRight 1s ease;
}

@keyframes fadeInRight{
	0%{
		transform: translateX(40px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}

.custom-box.hide{
	display: none;
}


.font1{
	font-family: 'Merriweather';
	font-size: 16px;
	color: black;
}

.font2{
	font-family: 'Oswald';
}

.font3{
	font-family: 'Playfair';
}

.bg-color{
	color: #9aaf50;
}
/*answer option*/
.option-container .option{
	opacity: 0;
	animation: fadeIn 0.3s ease forwards;
	position: relative;
	overflow: hidden;
}

.option-container .option.already-answer{

}

.option-container .option.correct::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: green;
	z-index: -1;
	animation: slideInLeft .5s ease forwards;

}

@keyframes slideInLeft{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
}


.option-container .option.correct{
	color: #ffffff;
}


@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.option-container .option.wrong::before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: red;
	z-index: -1;
	animation: slideInLeft .5s ease forwards;
}

.option-container .option.wrong{
	color: #ffffff;
}

.answers-indicator div{
	display: inline-block;
	border-radius: 50%;
	background-color: #cccccc;
	width: 40px;
	height: 40px;
}

.answers-indicator div.correct{
	background-color: green;
	background-image: url("./images/correct.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.answers-indicator div.wrong{
	background-color: red;
	background-image: url("./images/wrong.png");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
}

/*end of activity function*/

/*Start Contact CSS*/
#contact_style img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 20px; 
    opacity: 0.8;
}
/*Adress*/
#contact_text i{
    position: absolute;
    color: white;
    top: 180px;
    left: 120px;
    font-size: 20;
}

#contact_text h5{
    position: absolute;
    color: white;
    top: 180px;
    left: 170px;
    font-size: 18px;
}
#contact_text p{
    position: absolute;
    color: white;
    top: 210px;
    left: 170px;
    font-size: 18px;
}

/*Phone Discu*/
#contact_text2 i{
    position: absolute;
    color: white;
    top: 350px;
    left: 120px;
    font-size: 20;
}
#contact_text2 h5{
    position: absolute;
    color: white;
    top: 350px;
    left: 170px;
    font-size: 18px;
}
#contact_text2 p{
    position: absolute;
    top: 380px;
    left: 170px;
    font-size: 18px;
}

/*Gmail*/
#contact_text3 i{
    position: absolute;
    color: white;
    top: 530px;
    left: 120px;
    font-size: 20;
}
#contact_text3 h5{
    position: absolute;
    color: white;
    top: 530px;
    left: 170px;
    font-size: 18px;
}
#contact_text3 p{
    position: absolute;
    top: 550px;
    left: 170px;
    font-size: 18px;
}

/*Social*/
#contact_text4 i{
    position: absolute;
    color: white;
    top: 630px;
    left: 120px;
    font-size: 20;
}
#contact_text4 h5{
    position: absolute;
    color: white;
    top: 630px;
    left: 170px;
    font-size: 18px;
}

#social_icon i{
	position: absolute;
	color: white;
    top: 660px;
    left: 170px;
    font-size: 40px;
}

#social_icon1 i{
	position: absolute;
	color: white;
    top: 660px;
    left: 220px;
    font-size: 40px;
}

#social_icon2 i{
	position: absolute;
	color: white;
    top: 660px;
    left: 270px;
    font-size: 40px;
}

#social_icon3 i{
	position: absolute;
	color: white;
    top: 660px;
    left: 320px;
    font-size: 40px;
}

#social_icon4 i{
	position: absolute;
	color: white;
    top: 660px;
    left: 370px;
    font-size: 40px;
}

.contact{
	background: url(images/ct1.jpg);
	background-size: cover;
}

.googlemap{
	width: 80%;
	margin-left: 10%;
}
/*End of Contact CSS*/

/*Start client logo slider css*/
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*End client logo slider css*/

/*About Css ttsh*/
.top_button{
	position: fixed;
	left: 1200px;
	top: 500px;
}

.coursel_text{
	position: absolute;
	top: 250px;
	left: 200px;
	font-size: ;
}

#about h1{
	text-align: center;
	margin: 120px 0px
	padding: 0px 150px;
}

#about hr{
	height: 1px;
	border:none;
	color: #000;
	background-color: #000;
	width:50%;
	text-align: center;
	margin: 50px auto;
}

#passion h3{
	text-align: center;
	
}

#passion hr{
	height: 1px;
	border:none;
	color: #000;
	background-color: #000;
	width:50%;
	text-align: center;
	margin: 50px auto;
}

.background_img{
	background-image: url(images/img9.jpg);
	height: 300px;
	background-attachment: fixed;
}

#container hr{
	height: 1px;
	border:none;
	color: blue;
	background-color: #000;
	width:50%;
	text-align: center;
	margin: 50px auto;
}

#story hr{
	height: 1px;
	border:none;
	color: blue;
	background-color: #000;
	width:50%;
	text-align: center;
	margin: 50px auto;
}

#story img{
	border-radius: 60%;
}
/*------------end about css--------------*/

/*start index page*/
.pic{
	color: blue;
}

.videos{
	color: #8333FF;
}

.audio{
	color: #E933FF;
}

.game{
	color: #FF3368;
}

.smile{
	color: #FF8D33;
}

/*.learn{
	animation: fadeInRight 1s ease;
}

@keyframes fadeInRight{
	0%{
		transform: translateX(40px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}
}
*/
/*.learn[data-scroll="in"]{
	0%{
		transform: translateX(40px);
		opacity: 0;
	}
	100%{
		transform: translateX(0px);
		opacity: 1;
	}*/
/*	transform: translateX(0);
	transition-delay: 1s;
	opacity: 1;*/
/*.learn{
	transform: translate(40px);
	opacity: 0;
	position: relative;
	transition: 1s;
}

.learn[data-scroll="in"]{
	transform: translate(0px);
	opacity: 1;
}*/
	/*transform: translateX(0);	
	transition-delay: 1s;
